<%- include standart.ejs %>

                                <div id="container-sample">
                                <form class="form-signin" method="post" action="/login">
                                    <h2 class="form-signin-heading">Bitte melde dich an</h2>

                                    <% if(message.length > 0) { %>
                                    <div class="alert alert-warning" role="alert"><%= message %></div>
                                    <% } %>



                                    <label for="eingabefeldEmail" class="sr-only">Email-Adresse</label>
                                    <input name="email" type="email" class="form-control" placeholder="Benutzername" required autofocus>
                                        <label for="eingabefeldPasswort" class="sr-only">Passwort</label>
                                        <input name="password" type="password" class="form-control" placeholder="Passwort" required>
                                            <div class="checkbox">
                                                <label>
                                                    <input name="remember_me" type="checkbox" value="remember-me"> Anmeldung speichern
                                                    </label>
                                                </div>
                                                <button class="btn btn-lg btn-primary btn-block" type="submit">Anmelden</button>
                                            </form>
                                </div>



                                        </div>

                                        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
                                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
                                        <script src="javascripts/controller.js"></script>
                                    </body>
                                </html>